{% extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}

  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
    {%- endwith %}
    <div class="row">
      <p> <h2>业余无线电操作证书模拟考试 {{level_type}}类</h2></p>
    </div>
               
    <div class="row" style="background-color:#f1f1f1 !important;"> 

      {% if session['logged_in'] %}
   
	{% if data %}
	<h3>{{data}}</h3>
	{% else %}

	{% endif %}
	<form class="" action="{{ url_for('go_next_question') }}" method="post" name="quizTypeForm">
	  <div class="row">&nbsp;</div>
	  <div class="" style="margin: 0px 15px !important;"><h4>{{paper_question_sn}}.&nbsp;{{ question_text }}</h3></div>
	  <div class="row">&nbsp;</div>
	  <div class="form-check" style="margin: 0px 20px !important;">
             <label class="form-check-label">                
		<input class="form-check-input" type="radio" name="option1" id="option1" value="a" >
	        &nbsp; A. {{ question_a }}		
	      </label>
	  </div>
	  <div class="form-check" style="margin: 0px 20px !important;">
             <label class="form-check-label">
		<input class="form-check-input" type="radio" name="option1" id="option1" value="b" >
		&nbsp; B. {{ question_b }}		

              </label>
	  </div>
	  <div class="form-check" style="margin: 0px 20px !important;">
                <label class="form-check-label">
		  <input class="form-check-input" type="radio" name="option1" id="option1" value="c" >
		  &nbsp; C. {{ question_c }}		
	        </label>
	  </div>

	  <div class="form-check" style="margin: 0px 20px !important;">
	      <label class="form-check-label">
		<input class="form-check-input" type="radio" name="option1" id="option1" value="d" >
		&nbsp; D. {{ question_d }}
              	      </label>
	  </div>

	  <div class="row">&nbsp;</div>
</div>

	  <div class="row">&nbsp;</div>
	      <div class="row">
                <div class="col-md-4">
		  <button type="submit" name="submit" value="next" class="btn btn-primary">下一题</button>
                </div>
                <div class="col-md-4" style="line-height:40px;heigh:40px">
                  总题数：{{question_count}}
                </div>

                <div class="col-md-4" style="line-height:40px;heigh:40px">
                     <span  id="timer">          {{test_start_time}} </span>
                  </div>

	      </div>
       </form>

	{% else %}
      <p>请先登录!</p>

      <a class="btn btn-lg btn-default " role="button" href="/login">Login</a> 
      <a class="btn btn-lg btn-default " role="button" href="/register">Register</a>

      {% endif %}

    </div>
  </div>




<script type="text/javascript">
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2018 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    var startDateTime = new Date("{{test_start_time}}");
    var now = new Date().getTime();
    var distance = now - startDateTime;
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("timer").innerHTML = "考试用时: " + minutes + " 分 " + seconds + "  秒";

                   }, 1000);
</script>
{% endblock %}
