{% extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}
{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}

  <div class="container" style="background-color=#000;">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
    {%- endwith %}

    <div class="row">
      <div class="col-md-8">
	<h3>业余无线电操作证书模拟考试系统</h3>

	<div class="row">&nbsp;</div> 
  <p>本站模拟考试系统由BD7MMF依据中国无线电协会业余无线电分会<a href="http://www.crac.org.cn/?page_id=1862">业余无线电台操作证书考试题库电子版（v170926） </a>
    利用业余时间开发，供业余无线电爱好者学习参考使用</p>
  <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
      
  {% if session['logged_in'] %}
  
  
  <div class="row">&nbsp;</div> 
        <h4>欢迎，{{user_name}}</h4>
	<p>

	  <button class="btn btn-primary" type="button" onclick="window.location.href='{{ url_for( 'testing') }}';"> 进入模拟考试</button>
	  </p>
	{% if data %}
	<h3>{{data}}</h3>n
	{% else %}
	<div class="row">&nbsp;</div>
	<p>
	  
	  <a href="/logout">退出登录</a> 
	  </p>
	{% endif %}

	{% else %}
      <p>请先登录，没有帐号请注册</p>



      	    <a class="btn btn-primary" role="button" href="/login">登录</a>
	       <span>&nbsp;&nbsp;</span>
	      <a class="btn  btn-success" role="button" href="/register">注册</a>


      {% endif %}
      </div>
      </div>

    </div>




{% endblock %}
