{% extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">

    {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      {% if session['logged_in'] %}
   
	{% if data %}
	<h3>{{data}}</h3>
	{% else %}

	{% endif %}

	<form class="form-horizontal" action="{{ url_for('select_level') }}" method="post" name="quizTypeForm">
	  <div class="row">
	    请选择操作证书类别：
	  </div>
	  <div class="row">&nbsp;</div>
	  <fieldset>
	  <div class="row">
	    <div class="radio radio-info radio-inline">
		<input type="radio" name="testing_level" id="inlineRadio1" value="option1" checked="">
	       <label for="inlineRadio1"> A 类 </label>
	    </div>
	  </div>
	  <div class="row">
	    <div class="radio radio-info radio-inline">

		<input type="radio" name="testing_level" id="inlineRadio2" value="option2">
		 <label for="inlineRadio2"> B 类 </label>

	    </div>
	  </div>

	  </fieldset>
	  <div class="row">&nbsp;</div>	  
	    <div class="input-group">
	      <div class="row">
		<button type="submit" class="btn btn-primary">确定</button>
	    </div>
	  </div>
	  </form>
	{% else %}
      <p>请先登录!</p>

      <a class="btn btn-primary " role="button" href="/login">Login</a>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <a class="btn btn-success " role="button" href="/register">Register</a>

      {% endif %}




{% endblock %}
